.main  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    z-index: -1;
}

textarea {
    border: none;
    box-shadow: none;
    resize: none;
}
#output {
    top: 0;
    left: 0;
    width: 96%;
    padding: 10px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
}

.intro {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 150px;
}
.intro .desc {
    text-align: center;
    margin: auto;
    max-width: 60%;
}

.ann {
    box-shadow: black 5px 5px 5px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    background-color: gray;
    width: 50%;
    height: fit-content;
}

#ann-title {
    border-radius: 10px;
}

#ann-desc {
    border-radius: 10px;
}

#field-title {
    border-radius: 10px;
}

#field-desc {
    border-radius: 10px;
}

.fields {
    margin-bottom: 50px;
}

.field {
    box-shadow: black 5px 5px 5px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
    width: 50%;
    height: fit-content;
}

.field_remove {
    visibility: visible;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 30px;
    cursor: pointer;
}

.field_new {
    width: 25px;
    height: 25px;
    background-color: rgba(8, 79, 79, 0.549);
    border-radius: 30px;
    cursor: pointer;
}

.field_remove:hover {
    box-shadow: black 2px 2px 2px;
}

.field_new:hover {
    box-shadow: black 2px 2px 2px;
}